/* Css para la barra de navegacion */
body {
    padding-top: 80px; /* ajusta el valor según el espacio que quieras darle */
          }
  
  .navbar-brand {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 35px;
   /* font-weight: bold; establece el grosor de la fuente en negrita. */
          }
  

  .navbar {
            background-color: #E8E8E8; /* fondo de la navbar, quitar backdrop y solo poner color en donde dice transpa */
            backdrop-filter: blur(10px);
            box-shadow: 0 2px 4px rgba(0,0,0,0.2);
          }
      
  .navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
          }
    
  .navbar-nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
  
          }
       
  .navbar-nav a:hover {
    color: blue;
          }

/* Css para el body*/
.todo {
  margin-top: 20px;
}

.cada-dos-filas {
  justify-content: center;

}

.row {
justify-content: center;

display: flex;
flex-direction: row;
margin: 20px auto;
}

.segundo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

  /* Css para el footer*/
  

footer {
    background-color: rgb(221, 221, 221);
    width: 100%;
    height: 130px;
  
  }
  
  .foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    
  }
  
  .redes {
    font-size: 23px;
    text-align: center;
    width: 25%;
    display: flex;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .ayuda {
    font-size: 23px;
    width: 25%;
    display: flex;
    padding-top: 50px;
    justify-content: center;
  }
  
  .nosotros {
    font-size: 23px;
    width: 25%;
    display: flex;
    padding-top: 50px;
    justify-content: center;
  }
  
  
  .icons {
    display: flex;
    flex-direction: row;
    margin: 1px
  
  }
  .instagram {
    margin-left: 5px;
    margin-right: 5px;
  }
  
  
