body {
  background-color:white ;
}

.conteiner {
  position: relative;
  width: 70%;
}

.coll {
  border: 0px;
  /* background-color: #ffffff5e; */
}

.navbar-brand {
  font-size: 34px;
 
}

.dropdown-menu {
  width: 100%;
}

#navbarToggleExternalContent {
  width: 80%;
  font-size: 20px;

}


.color {
  color:rgb(136, 127, 255)
}

footer {
  background-color: rgb(221, 221, 221);
  width: 100%;
  height: 130px;
  margin-top: -110px;
}

.foot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  
}

.redes {
  font-size: 20px;
  text-align: center;
  width: 25%;
  display: flex;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ayuda {
  font-size: 23px;
  width: 25%;
  display: flex;
  padding-top: 50px;
  justify-content: center;
}

.nosotros {
  font-size: 23px;
  width: 25%;
  display: flex;
  padding-top: 50px;
  justify-content: center;
}

#carouselExampleIndicators {
  width: 100%;
  left: 5px;
  justify-content: center;
  top: -290px;
}

.banner1{
  margin-left: 60px;
  margin-top: 30px;
}

.banner2{
  margin-left: 450px;
  margin-top: -367px;
  margin-bottom: 500px;
}

.texto1{
  position: absolute;
  width: 900px;
  height: 156px;
  left: 135px;
  top: 500px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}

h3{
  margin-left: 40px;
  margin-top: -30px;

}
footer {
  background-color: rgb(221, 221, 221);
  width: 100%;
  height: 130px;
 
}

.foot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  
}

.icons {
  display: flex;
  flex-direction: row;
  margin: 1px

}
.instagram {
  margin-left: 5px;
  margin-right: 5px;
}

